.day-container {
    width: 100%;
    /* max-width: 900px; */
    height: 100%;
    /* border: solid red 2px; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.day-container>* {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    position: relative;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    pointer-events: auto;

    /* border: solid orange 2px; */
    width: calc(100% / 7);
    height: calc(100% / 7);

}

.weekend {
    background: rgb(178, 178, 178);
}

.datepassed {
    background: rgb(237, 237, 237);
    transition: background 0.3s;
    border-bottom: solid rgb(218, 216, 216) 1px;
    border-right: solid rgb(218, 216, 216) 1px;

}

.datepassed:hover {
    background: rgb(255, 255, 255);
}

.dateSquare {
    position: absolute;
    background: white;
    top: 0px;
    left: 0px;
    border: solid black 1px;
    border-top: none;
    border-left: none;
}

.today {
    border: solid red 2px;
}

.date {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.date.hidden {
    opacity: 0;
}


.note-holder {
    /* border: solid yellow 2px; */
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.datepassed>.note-holder>input {
    color: rgb(191, 191, 191);
    border-bottom: dotted rgb(195, 195, 195) 1px;
}

.note {
    /* border: solid rgb(69, 245, 0) 2px; */
    background: none;
    pointer-events: auto;
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: dotted black 1px;
    font-size: 10px;
    padding-left: 20px;
}

.buffer-day {
    background: rgb(78, 78, 78);
}

.title-day {
    background: black;
    color: white;
}