#extractDataButton {
	background-color: #000000;
	/* Button background color */
	color: #ffffff;
	/* Button text color */
	font-size: 16px;
	/* Button text size */
	border: none;
	/* Remove default button border */
	border-radius: 4px;
	/* Add rounded corners */
	padding: 12px 20px;
	/* Add padding for better spacing */
	cursor: pointer;
	/* Add a pointer cursor on hover */
	transition: background-color 0.3s ease;
	/* Smooth background color transition */
	pointer-events: auto;
}

#extractDataButton:hover {
	background-color: #343434;
	/* Change background color on hover */
}

.month-day.selected {
	border: solid 2px rgb(188, 188, 221);
	background: rgb(217, 246, 255);
}

.center-calender-layout {
	/* border: solid yellow 4px; */
	height: 100%;

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	overflow-y: scroll;
	pointer-events: auto;
}

.calendar-layout {
	width: 100%;
	max-width: 900px;
	height: 2000px;

	/* border: solid green 4px; */
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	overflow: scroll;
	pointer-events: auto;

	margin: 20px;

}

@media only screen and (max-width: 900px) {
	.calendar-layout {
		pointer-events: all;
		justify-content: center;
		align-items: start;
	}
}

.color-selector-menu {
	width: 30%;
	min-width: 300px;
	/* border: solid yellow 4px; */
	height: 100%;
	overflow-y: scroll;
}

@media only screen and (max-width: 900px) {
	.color-selector-menu {
		width: 0px;
		min-width: 0px;
	}
}

.color-selector-title {
	background: black;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.color-key {
	height: 50px;
	border-left: solid 2px black;
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

.color-key-color {
	height: 100%;
	width: 50px;
	/* background: orange; */
	border-right: solid black 2px;
	/* border: solid 3px orange; */
	pointer-events: auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.color-key-text {
	height: 100%;
	flex-grow: 1;
	/* border: solid 3px orange; */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: text;
	pointer-events: auto;
}

.month-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	/* border: solid green 4px; */

	width: calc(calc(100% - 30px) * 0.33);
	height: calc(calc(100% - 40px) * 0.25);
	max-width: 600px;
	margin: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

@media only screen and (max-width: 900px) {
	.month-container {
		width: calc(calc(100% - 18px));
		height: 50vh;
	}
}

.month-title {
	color: white;
	background: black;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: solid blue 4px; */
	width: 100%;
	height: fit-content;
}

.month-day-header {
	width: calc(100% / 7);
	/* Equal width for each day header */
	height: calc(100% / 7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* border: solid 1px #ccc; */
	/* font-weight: bold; */
	background-color: #000000;
	color: #ffffff;
}



.month-body {
	flex-grow: 1;
	/* border: solid blue 4px; */
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;

}

.month-day {
	position: relative;
	width: calc(100% / 7);
	/* Equal width for each day cell */
	/* height: calc(100% * 0.1666666666); */
	height: calc(100% / 7);
	;
	border: dotted rgb(230, 230, 230) 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	cursor: pointer;
}

.month-day-weekend {
	background: rgb(250, 250, 250);
	color: rgb(223, 223, 223);
}

.today {
	position: absolute;
	background: rgba(255, 255, 0, 0.5);
	/* width:100%;
	height:100%; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: dashed red 2px;
	border-radius: 10px;
}