* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	pointer-events: none;
	user-select: none;
	overflow: hidden;
}

body {
	height: 100vh;
	position: static;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	/* border: solid red 4px; */

}

.page-menu {
	width: 100%;
	height: fit-content;
	padding: 20px;
	/* border: solid orange 4px; */
	overflow: visible;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-container {
	width: 100%;
	flex-grow: 1;
	/* border: solid orange 4px; */

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

.calendar-layout {
	flex-grow: 1;
	/* border: solid yellow 4px; */
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;

}

@media only screen and (max-width: 900px) {
	.calendar-layout {
		overflow: scroll;
		pointer-events: all;
		z-index: 1000;
		justify-content: center;
		align-items: start;
	}
}

.color-selector {
	width: 30%;
	min-width: 200px;
	/* border: solid yellow 4px; */
	height: 100%;
}

@media only screen and (max-width: 900px) {
	.color-selector {
		width: 0px;
		min-width: 0px;
	}
}

.month-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	/* border: solid green 4px; */

	width: calc(calc(100% - 120px) * 0.33);
	max-width: 600px;
	height: calc(calc(100% - 160px) * 0.25);
	margin: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
	.month-container {
		width: calc(calc(100% - 18px));
		height: 50vh;
	}
}

.month-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: solid blue 4px; */
	width: 100%;
	height: fit-content;
}

.month-body {
	flex-grow: 1;
	/* border: solid blue 4px; */
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;

}

.month-day {
	width: calc(100% * 0.1428571428571429);
	height: calc(100% * 0.2);
	/* border: solid purple 4px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: all;
}